FORKT_BEACON_API_URL=https://beacon-mainnet.example.invalid
FORKT_INGRESS_SOCKET=/run/forkt/consensus.sock

FORKT_CONSENSUS_DATA_DIR=./data/consensus
FORKT_CONSENSUS_LISTEN_ADDRESS=0.0.0.0
FORKT_CONSENSUS_ENR_ADDRESS=
FORKT_CONSENSUS_TCP_PORT=9000
FORKT_CONSENSUS_DISCOVERY_PORT=9000
FORKT_CONSENSUS_QUIC_PORT=9001
FORKT_CONSENSUS_PEER_TARGET=100
FORKT_CONSENSUS_BOOT_ENRS=

FORKT_LOG=info,lighthouse_network=info
FORKT_LOG_JSON=false
